.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 40rem;
    width: 450px;
    height: 500px;
    margin-top: 13rem;
    background-color: #032D53;
    border-radius: 2rem;
    border-color: rgb(7, 46, 114);
  }

#logo
  {
   height: 80px;
   width: 80px;
  }
    
.logintxt {
    font-size: 30px;
    font-weight: bold;
   
  }

.inputform{
    display: flex;
    flex-wrap: wrap;
    margin-left: 2rem;
    width: 450px;
  
  }
.inputicon{
    padding-left: 30px; /* Adjust the padding to fit the icon properly */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm0 48c-63.6 0-192 31.9-192 96v32c0 35.3 28.7 64 64 64h256c35.3 0 64-28.7 64-64v-32c0-64-128.4-96-192-96zm0 256c-88.2 0-164.3-35.5-214.4-92.6C21.7 421.2 36.6 448 64 448h320c27.4 0 42.3-26.8 54.4-84.6-50.1 57-126.2 92.6-214.4 92.6z"></path></svg>');
    background-size: 15px; /* Adjust the size of the icon */
    background-position: 8px 50%; /* Adjust the position of the icon */
    background-repeat: no-repeat;
    border: 1px solid #ccc; /* Optional: Add styling for input border */
    border-radius: 5px; /* Optional: Add border radius */
    /* Additional styling as needed */
}
.input-with-icon {
    padding-left: 30px; /* Adjust the padding to fit the icon properly */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M400 224h-24V160c0-70.7-57.3-128-128-128S120 89.3 120 160v64H96c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h304c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-216-64c0-35.3 28.7-64 64-64s64 28.7 64 64v64H184v-64zm216 272H96V272h304v160z"></path></svg>'); /* Font Awesome lock icon data URL */
    background-size: 15px; /* Adjust the size of the icon */
    background-position: 8px 50%; /* Adjust the position of the icon */
    background-repeat: no-repeat;
    border: 1px solid #ccc; /* Optional: Add styling for input border */
    border-radius: 5px; /* Optional: Add border radius */
    /* Additional styling as needed */
  }
input {
    margin-bottom: 1rem;
    padding: 1rem;
    width: 70%;
    font-size: 12px;
    margin-top: 20px;
    border-radius: 8px;
    border: none;
    margin-left: 3rem;
  
  }
  
  
button {
    background-color: #55bcfb;
    font-size: 18px;
    font-weight: 700;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
   
  }
  
button:hover {
    background-color: #1f3b7e;
  }
  
a {
    color: #4582d8;
    margin-top: 2rem;
  }
  
a:hover {
    color: #0e64a5;
  } 