body {
  margin: 0;
  overflow: hidden;
  background-color: #032D53;
}


.containerlog{
  display: inline-grid;
  grid-template-columns: 1fr 1fr; /* Two columns of equal width */
  grid-gap: 20px; /* Gap between the columns */
  margin-left: 5rem;
 


 
}


#mainlogo {
  margin-top: 7rem;
    height: 70px;
    width: 70px;
    margin-left: 9rem;
}
  


/* .contentlog{
  margin-left: 8rem;
} */

.contentlog h1 {
font-size: 40px;
margin-top:2rem;
color: #fdfdfd;
font-weight: bold;
margin-left: 9rem;
}

.contentlog p {
  font-size: 20px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight:400;
  color: white;
  margin-left: 9rem;
}
 

button{
font-size: 16px;
letter-spacing: 1px;
padding: 10px 20px 11px 20px;
border-radius: 50px;
transition: 0.5s;
margin: 10px 0 0 0;
color: #fff;
background: #47b2e4;
margin-top: 2rem;
margin-left: 9rem;
}

.formlog {
  display: flex;
  
}

#sideimage {
  margin-top: 11rem;
  margin-left: 5rem;
  transition: transform 0.3s ease, opacity 0.3s ease; /* Transition properties */
}

#sideimage:hover {
  transform: translateX(20px); /* Example movement on hover */
  opacity: 0.8; /* Example opacity change on hover */
}
/* .container{

 background-color:  #37517e;

}

.navbar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 32px;
  background: #023b6d;
  display: flex;
  align-items: center;
}

.contentlog {
  display: flex;
  margin-left: 12rem;
  margin-top: 2rem;
  background: #37517e;
  
}

    /* display: flex;
    align-items: center;
    margin-right: 25rem;
    background-color: black;
    width: 100%; */


/* .log-icon {
    display: flex;
      align-items: center;
      margin-right: 25rem;
      background-color: black;
      width: 100%;
  }
  
  .log-icon img {
    height: 60px;
    width: 60px;
    vertical-align: middle;
    margin-left: 3rem;
   
  
  }
  
  a{
    text-decoration: none;
  }
  .contentlog{
      margin-top: 5rem;
  }
  
  
  .contentlog h1 {
    font-size: 50px;
    margin: 0;
  }
  
  .contentlog h1 span {
    color: #c0c000;
  }
  
  .contentlog p {
    font-size: 18px;
    color: #181818;
  } 
  
  .contentlog {
    display: flex;
    margin-left: 12rem;
    margin-top: 2rem;
  }
  
  
  h1 {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.2;
  }
  
  span {
    color: #ffffff;
  
  }
  
  .par {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
  }
  
  .formlog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 9rem;
    border: none;
    border-radius: 12px;
    background-color: #d9d9d3;
    width: 370px;
    height: 450px;
    margin-top: 2rem;
  }
  
  .logintxt {
    font-size: 30px;
    font-weight: bold;
   
  }
  
  input {
    margin-bottom: 1rem;
    padding: 1rem;
    width: 70%;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-right: none;
    border-left: none;
    /* color: #fff; */
    /* font-size: 12px;
    margin-top: 20px;
  
  }
  
  
  button {
    background-color: #55bcfb;
    font-size: 18px;
    font-weight: 700;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
   
  }
  
  button:hover {
    background-color: #1f3b7e;
  }
  
  a {
    color: #4582d8;
    margin-top: 2rem;
  }
  
  a:hover {
    color: #0e64a5;
  }   */ 