/* 
.container {
background-color: blue;
display: flex;  

}

.div-2 {
  display: flex;
  margin-top: 38px;
  width: 100%;
  flex-direction: column;
  padding: 0 49px 0 80px;
}
@media (max-width: 991px) {
  .div-2 {
    max-width: 100%;
    padding: 0 20px;
  }
}
.div-3 {
  display: flex;
  margin-left: 16px;
  width: 100%;
  padding-right: 80px;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 991px) {
  .div-3 {
    max-width: 100%;
    flex-wrap: wrap;
    padding-right: 20px;
  }
}
.img {
  object-fit: contain;
  object-position: center;
  width: 94px;
  overflow: hidden;
  margin-top: 7px;
  max-width: 100%;
}

.div-7 {
  margin: 50px 0 0 16px;
}
@media (max-width: 991px) {
  .div-7 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-8 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-8 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}
.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column {
    width: 100%;
  }
}
.div-9 {
  display: flex;
  margin-top: 55px;
  flex-direction: column;
  align-items: start;
}
@media (max-width: 991px) {
  .div-9 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-10 {
  color: #fff;
  align-self: stretch;
  font: 700 50px Inter, sans-serif;
}
@media (max-width: 991px) {
  .div-10 {
    max-width: 100%;
    font-size: 40px;
  }
}
.div-11 {
  color: #fff;
  align-self: stretch;
  margin-top: 20px;
  font: 500 16px Inter, sans-serif;

}
@media (max-width: 991px) {
  .div-11 {
    max-width: 100%;
    margin-top: 40px;
  }
}
.div-12 {
  display: flex;
  justify-content: center;
  margin-top: 44px; 
}

.div-12 a {
  text-decoration: none;
}

.div-12 button {
  color: #faf8f8;
  background-color: #149ddd;
  border: none;
  border-radius: 15px;
  white-space: nowrap;
  padding: 16px 31px 16px 25px;
  font: 700 16px Inter, sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.div-12 button:hover {
  background-color: #0c7bbf; 
}

@media (max-width: 991px) {
  .div-12 {
    white-space: initial;
    margin-top: 40px;
   
  }
}
.column-2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-2 {
    width: 100%;
  }
}
.img-2 {
  aspect-ratio: 1.72;
  object-fit: contain;
  object-position: center;
  width: 100%;
  overflow: hidden;
  flex-grow: 1;
}
@media (max-width: 991px) {
  .img-2 {
    max-width: 100%;
    margin-top: 29px;
  }
}
.div-13 {
  align-self: start;
  display: flex;
  margin-top: 81px;
  width: 964px;
  max-width: 100%;
  align-items: end;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 991px) {
  .div-13 {
    flex-wrap: wrap;
    margin-top: 40px;
  }
}
.div-14 {
  display: flex;
  margin-top: 71px;
  align-items: start;
  gap: 0px;
}
@media (max-width: 991px) {
  .div-14 {
    margin-top: 40px;
  }
}
.div-15 {
  filter: blur(2px);
  border-radius: 50%;
  display: flex;
  width: 83px;
  height: 120px;
  flex-direction: column;
}
.div-16 {
  filter: blur(2px);
  border-radius: 50%;
  display: flex;
  margin-top: 88px;
  width: 120px;
  height: 85px;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-16 {
    margin-top: 40px;
  }
}
.div-17 {
  filter: blur(2px);
  border-radius: 50%;
  align-self: start;
  display: flex;
  width: 120px;
  height: 120px;
  flex-direction: column;
} */
.main{
  background: scroll;
  margin: 0;
  padding: 0;
  background-color: #99B4DF;


}
.landing{
  /* background-color: rgb(216 216 216); */
  display: grid;
  grid-template-columns: 1fr 1fr; 

 
}
/* .container-1{
  display: grid;
  grid-template-columns: 1fr 1fr; 
} */

.grid1{
  justify-content: center;
}

.grid1 h1{
  margin-top: 5rem;
  /* margin-left: 15rem; */
  text-align: center;
}
.grid1 p{
font-size: 16px;
line-height: 1.5; 
margin-left: 18rem;
text-align: inline;

}
.grid2 img{
  /* margin-left: 15rem; */
  text-align: center;
  margin-top: 2rem;
}
.land-button {
  background-color: #55bcfb;
  font-size: 14px;
  font-weight: bold;
  border-radius: 8px;
  /* border: none; */
  cursor: pointer;
  margin-left: 18rem;
  padding: 5px 5px;
  width: 20vh;
  /* border-radius: 8px; */
  border: none;
  color: aliceblue;
  margin-bottom: 20px;
  margin-top: 10px;
}

.about{
  /* background-color: antiquewhite; */
  padding: 10px;
  margin-top: 5rem;
  
}

.heading h1{
text-align: center;
margin-top: 10px;
}

.about p{
  text-align: center;
  line-height: 1.5; 
  /* margin-bottom: 20px; */
}

.provide{
   /* background-color: rgb(183, 89, 89); */
   grid-template-rows: 1fr ; 
   display: grid;
   margin: 5rem  7rem 0 7rem;
    
}
.provide .grid-container{
   grid-template-columns: 1fr 1fr 1fr; 
   display: grid;
   justify-items: center;
   /* grid: repeat(3, 60px) / auto-flow 80px; */
}
.provide .grid-container .grid-1 p ,
.provide .grid-container .grid-2 p,
.provide .grid-container .grid-3 p{
  font-size: 16px;
  font-weight:bold;
  margin-left: 6rem;
}
.provide .grid-container .grid-1 img,
.provide .grid-container .grid-2 img,
.provide .grid-container .grid-3 img   {
  width: 400px; 
  height: 350px; 
  
}

.instruction{
  grid-template-rows: 1fr ; 
  display: grid;
  margin-top: 5rem;
  /* margin: 5rem  7rem 0 7rem; */  
}

.instruction .instruction-container{
   grid-template-columns: 1fr 1fr 1fr; 
   display: grid;
   justify-items: center;
   margin: 0 7rem 0 7rem;
}

.instruction .instruction-container .ins-grid-1 ,
.instruction .instruction-container .ins-grid-2 ,
.instruction .instruction-container .ins-grid-3 {
  display: grid;
  justify-items: center;
  background-color: #fff;
  width: 350px;
  height:350px;
  border-radius: 40px;
  }

/* .instruction .instruction-container .ins-grid-1 h2,
.instruction .instruction-container .ins-grid-2 h2,
.instruction .instruction-container .ins-grid-3 h2{
  margin-left: 5rem;
} */

.instruction .instruction-container .ins-grid-1 p,
.instruction .instruction-container .ins-grid-2 p,
.instruction .instruction-container .ins-grid-3 p{
 font-size: 16px;
 font-weight: bold;
}