/* .navbar {
    background-color: #333;
    height: 5vh;
    position: sticky; 
  }
  
.navbar .breadcrumb-icon {
    cursor: pointer;
    position: absolute;
    margin-top: 1rem;
    margin-left: 1rem;
    color: #fff;
  }
  
.navbar {
    background-color:#333;
    height: 5vh;
   } 
.navbar .breadcrumb-icon {
   cursor: pointer;
  
}

.sidebar {
  width: 250px; 
  height: 100%;
  background-color: #333; 
  transition: transform 0.3s ease; 
  transform: translateX(-250px); 
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar.open {
  transform: translateX(0); 
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px;
  color: #fff; 
}

.sidebar ul li:hover {
  background-color: #555; 
}

.close-icon {
  cursor: pointer;
  padding: 10px;

}  
 */

 nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* min-height: 20px; */
  height: 60px;
 
 }

.nav-logo-container img {
    max-width: 30%;
    height: auto;
    margin-left: 2rem;
    margin-top: 1rem;
}

.navbar-menu-container {
  display: none;
}
.navbar-links-container{
  margin-right: 5rem;
}
.navbar-links-container a {
  margin-right: 3rem;
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  font-weight: 600;
}
.navbar-menu-container svg {
  font-size: 1.5rem;
  cursor: pointer;
}